* {
    /*color: white;*/
    color: #4f4f4f;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    /*cursor: pointer;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#container {
    width: 100%;
    top: 0;
    position: absolute;
    /*background-color: #5cc14e;*/
    background-color: #efefef;
    height: 100%;
}

.header {
    text-align: center;
    margin-top: 15px;
}

.ctr {
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

input, select {
    color: black;
}

.dropdown {
    display: inline-block;
    width: unset;
}

#back-btn {
    margin-left: 15px;
    margin-top: 15px;
}

ul {
    display: inline-block;
    list-style: none;
}
li {
    text-align: left;
}
