{% extends "base.html" %}


{% block head %}
    <style>
        .ctr {
            position: absolute;
            top: 20%;
            /*transform: translateY(-50%);*/
            text-align: center;
            width: 100%;
            font-size: 1.5em;
        }

        #corner-btn {
            position: absolute;
            left: 15px;
            top: 15px;
        }

        .text-ctr {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .text {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
            font-size: 4em;
            display: block;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="text-ctr" onclick="location.href='{% url 'p_login' %}';">
        <span class="text">TAP TO BEGIN</span>
    </div>

    <button id="corner-btn" type="button" class="btn btn-info" onclick="location.href='{% url 'd_login' %}'"><i class="fa fa-cog" aria-hidden="true"></i></button>

{% endblock %}