{% extends "base.html" %}


{% block head %}
    <style>
        #corner-btn {
            position: absolute;
            left: 15px;
            top: 15px;
        }

        .waitlist-btn {
            position: absolute;
            top: 0;
            width: 100%;
            height: 50%;
        }
        .appt-btn {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50%;
        }
        .text {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
            font-size: 4em;
            display: block;
        }
        .blue {
            background-color: #17a2b8;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="waitlist-btn" onclick="location.href='{% url 'd_waitlist' %}';">
        <span class="text">DOCTOR's DEVICE</span>
    </div>
    <div class="appt-btn blue" onclick="location.href='{% url 'appt' %}';">
        <span class="text">KIOSK</span>
    </div>

{% endblock %}