{% extends "base.html" %}

{% block content %}
    <button id="back-btn" type="button" class="btn btn-info" onclick="location.href='{% url 'appt' %}'">Return To Main Screen</button>
    <h1 class="header"><i class="fa fa-check" aria-hidden="true"></i> Sucessfully Checked In!</h1>
    <div class="ctr">
        <div>
            <p>Thanks, you're all checked in!</p>

            <ul>
                <li>Scheduled Time: <strong>{{ appointment.scheduled_time }}</strong></li>
                <li>Reason: <strong>{{ appointment.reason }}</strong></li>
                <li>Duration: <strong>{{ appointment.duration }} minutes</strong></li>
            </ul>
        </div>
        
    </div>
{% endblock %}