{% extends "base.html" %}

{% block head %}

    <style>
        .ctr {
            position: absolute;
            top: 20%;
            text-align: center;
            width: 100%;
            font-size: 1.5em;
        }

        input {
            color: black;
        }

        #back-btn {
            margin-left: 15px;
            margin-top: 15px;
        }

        ul {
            display: inline-block;
            list-style: none;
        }
        li {
            text-align: left;
        }
    </style>

{% endblock %}

{% block content %}
    <button id="back-btn" type="button" class="btn btn-info" onclick="location.href='{% url 'logout' %}'">Logout</button>
    <div class="ctr">
        <div>
            <strong>{{ avg_wait_time }}</strong> min average wait time.
        </div>

        <div>
            <span>Current Waitlist:</span> <!-- current doctor only -->
            <form method="post">
                {% csrf_token %}
                <ul>
                    {% for appt in appointments %}
                        <li>
                            <button type="submit" name="model_id" value="{{ appt.id }}" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
                            <strong>{{ appt.scheduled_time }}</strong> - 
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <strong>{{ appt.elapsed_time }}</strong> min - {{ appt.patient_name }}
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
        
    </div>

{% endblock %}