{% extends "base.html" %}
{% load static %}
{% load template_utils %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'demographic.css' %}">
    <style>
        .patient_photo {
            max-height: 200px;
        }
    </style>
{% endblock %}

{% block content %}
    <button id="back-btn" type="button" class="btn btn-info" onclick="location.href='{% url 'p_login' appt_id patient_id %}'">Back</button>
    <h1 class="header">DEMOGRAPHICS</h1>
    <div class="ctr">
        <img class="patient_photo" src="{{ patient_photo }}">
        <form method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="form-group has-errors text-danger small">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor  %}
            {% for field in form.visible_fields %}
                <div class="row form-group">
                    <div class="col-sm-6 text-right">
                        <label for="{{ field.auto_id }}">
                            {{ field.label }}:
                        </label>
                    </div>
                    <div class="col-sm-6 text-left">
                        {% if field.errors %}
                            {{ field|addcss:"form-control is-invalid" }}
                            <div class="invalid-feedback">
                                {{ field.errors }}
                            </div>
                        {% else %}
                            {{ field|addcss:"form-control is-valid" }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <input id="submit" type="submit" class="btn btn-info" value="Submit" />
        </form>
    </div>

    <script type="text/javascript" src="https://nosir.github.io/cleave.js/dist/cleave.min.js"></script>
    <script type="text/javascript">
        // phone
        var phone_fields = [
            '.input-home-phone',
            '.input-cell-phone',
            '.input-work-phone',
            '.input-emergency-phone',
            '.input-responsible-phone']
        phone_fields.forEach(function(elem) {
            var cleavePhone = new Cleave(elem, {
                blocks: [3, 3, 4],
                delimiters: [' ', '-']
            });
        });

        // ssn
        var cleaveSSN = new Cleave('.input-ssn', {
          blocks: [3, 2, 4],
          delimiter: '-'
        });

        // date
        var cleaveDate = new Cleave('.input-date', {
          date: true,
          datePattern: ['Y', 'm', 'd'],
          delimiter: '-'
        });
    </script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>

{% endblock %}
