{% extends "base.html" %}

{% block head %}

    <style>
        .ctr {
            position: absolute;
            top: 20%;
            /*transform: translateY(-50%);*/
            text-align: center;
            width: 100%;
            font-size: 1.5em;
        }

        input {
            color: black;
        }

        .dropdown {
            display: inline-block;
            width: unset;
        }

        #back-btn {
            position: absolute;
            left: 15px;
            top: 15px;
        }
    </style>

{% endblock %}

{% block content %}
    <button id="back-btn" type="button" class="btn btn-info" onclick="location.href='{% url 'p_login' %}'">Back</button>
    <h1 class="header">DEMOGRAPHICS</h1>
    <div class="ctr">
        <form class="form-group" action="{% url 'checkin' %}">
            <label for="e1">Example 1</label>
            <input type="text" name="gender" id="e1" value="e1"><br>
            
            <label for="e2">Example 2</label>
            <input type="text" name="gender" id="e2" value="e2"><br>
            
            <label for="e3">Example 3</label>
            <input type="text" name="gender" id="e3" value="e3"><br>

            <label for="ethnicity">Select Ethnicity:</label>
            <select id="ethnicity" class="form-control dropdown" name="ethnicity">
                <option value="d1">Blah</option>
                <option value="d2">Blah</option>
                <option value="d3">Blah</option>
                <option value="d4">Blah</option>
            </select><br/>

            <input type="submit" class="btn" value="Submit">

        </form>
    </div>

{% endblock %}