{% extends "base.html" %}

{% block head %}

    <style>
        table {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        #back-btn {
            position: absolute;
        }
    </style>

{% endblock %}

{% block content %}
    <button id="back-btn" type="button" class="btn btn-info" onclick="location.href='{% url 'appt' %}'">Back</button>

    <h1 class="header">PATIENT LOGIN</h1>
    <div class="ctr">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" class="btn" value="Submit" />
        </form>

    </div>

{% endblock %}