{% extends "base.html" %}

{% block head %}

    <style>
        .ctr {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
            font-size: 1.5em;
        }

        input {
            color: black;
        }

        table {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        #doctors {
            display: inline-block;
            width: unset;
        }

        #back-btn {
            position: absolute;
            left: 15px;
            top: 15px;
        }
    </style>

{% endblock %}

{% block content %}
    <button id="back-btn" type="button" class="btn btn-info" onclick="location.href='{% url 'appt' %}'">Back</button>

    <h1 class="header">PATIENT LOGIN</h1>
    <div class="ctr">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" class="btn" value="Submit" />
        </form>

    </div>

{% endblock %}